In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
df_restaurants_review = pd.read_csv('../../data/raw/restaurant/restaurants.csv')
gdf_restaurants = gpd.GeoDataFrame(df_restaurants_review, geometry=gpd.points_from_xy(df_restaurants_review.lng, df_restaurants_review.lat)).set_crs(epsg=4326)

In [3]:
gdf_restaurants.head()

,name,place_id,price_level,rating,user_ratings_total,business_status,adr_address,formatted_address,lat,lng,geometry
0,Ellis Island Cafe,ChIJiyW9XVFRwokRwyVIuyuQH7g,NaN,2.7,176,OPERATIONAL,NaN,"Ellis Island, New York, NY 10004",40.698856,-74.039125,POINT (-74.03912 40.69886)
1,Bistro La Source,ChIJk0bzXa9QwokRYKGGCXxU7PY,2.0,4.3,587,OPERATIONAL,NaN,"85 Morris St, Jersey City, NJ 07302",40.713705,-74.037638,POINT (-74.03764 40.71370)
2,Maddy Rose Restaurant at Liberty House,ChIJuRs8IkJRwokR29iklGV-kCY,NaN,3.7,26,OPERATIONAL,NaN,"76 Audrey Zapp Dr Floor 1, Jersey City, NJ 07305",40.709234,-74.039972,POINT (-74.03997 40.70923)
3,Satis Bistro,ChIJt5ZvbK9QwokRr6KHcRsaeOc,2.0,4.5,865,OPERATIONAL,NaN,"212 Washington St, Jersey City, NJ 07302",40.714420,-74.037661,POINT (-74.03766 40.71442)
4,O'Hara's Restaurant and Pub,ChIJueUCrBBawokRiw9LMJFm0_o,2.0,4.6,4718,OPERATIONAL,NaN,"120 Cedar St, New York, NY 10006",40.709501,-74.012664,POINT (-74.01266 40.70950)

In [4]:
# filtering buildings with the Manhattan boundary
gdf_manhattan = gpd.read_file('../../data/raw/boundary/Borough Boundaries.geojson')
gdf_manhattan = gdf_manhattan.loc[gdf_manhattan.loc[:,'boro_name'] == 'Manhattan']




gdf_restaurants_manhattan = gpd.sjoin(gdf_restaurants, gdf_manhattan, how='inner', op='intersects')
gdf_restaurants_manhattan = gdf_restaurants_manhattan.drop(['index_right', 'boro_code', 'boro_name', 'shape_area','shape_leng'], axis=1)

c:\Users\seung\anaconda3\envs\teamgigo\Lib\site-packages\IPython\core\interactiveshell.py:3517: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

In [5]:
gdf_restaurants_manhattan.head()

,name,place_id,price_level,rating,user_ratings_total,business_status,adr_address,formatted_address,lat,lng,geometry
0,Ellis Island Cafe,ChIJiyW9XVFRwokRwyVIuyuQH7g,NaN,2.7,176,OPERATIONAL,NaN,"Ellis Island, New York, NY 10004",40.698856,-74.039125,POINT (-74.03912 40.69886)
4,O'Hara's Restaurant and Pub,ChIJueUCrBBawokRiw9LMJFm0_o,2.0,4.6,4718,OPERATIONAL,NaN,"120 Cedar St, New York, NY 10006",40.709501,-74.012664,POINT (-74.01266 40.70950)
7,DIG,ChIJT2cXMBZawokRBLbx2AApRas,1.0,4.3,552,OPERATIONAL,NaN,"80 Pine St, New York, NY 10005",40.706091,-74.007293,POINT (-74.00729 40.70609)
9,Trinity Place,ChIJ4_AAQhdawokRzbYlVLyzKlk,2.0,4.4,1332,OPERATIONAL,NaN,"115 Broadway, New York, NY 10006",40.708882,-74.011433,POINT (-74.01143 40.70888)
11,Schilling Restaurant & Bar,ChIJZXs66hBawokRizEXnDJplPw,3.0,4.4,509,OPERATIONAL,NaN,"109 Washington St, New York, NY 10006",40.708585,-74.014017,POINT (-74.01402 40.70858)

In [6]:
gdf_buildings = gpd.read_file('../../data/processed/building/building_manhattan_commercial_vt.geojson')

In [7]:
gdf_buildings.head()

,height,mpluto_bbl,cnstrct_yr,globalid,bin,office_area,retail_area,residential_area,OBJECTID,street_width_min,...,ridership_morning,ridership_night,distance_from_station(ft),idw_aadt_2019,idw_aadt_2020,idw_aadt_2021,idw_atvc_2018,idw_atvc_2019,idw_atvc_2020,geometry
0,59.722628,1021210037,1910,{A0E56BCC-A86B-4CEF-9A42-9B4ECD61743F},1062896,0,2250,10344,100007,60.0,...,104.287653,19.346238,705.644504,13651.722938,15362.929888,17083.134233,110.061311,140.829357,332.410589,"MULTIPOLYGON (((1001211.761 244524.798, 100123..."
1,155.49,1008870001,1935,{0B06F7A8-1F83-44F3-97DD-AC524A6374CA},1018457,50018,4000,0,101045,32.0,...,290.296012,248.617186,302.952220,10065.445841,10282.943569,11495.144080,129.010552,178.320105,272.446791,"MULTIPOLYGON (((989135.970 210787.603, 989181...."
2,167.21446831,1013490035,1931,{A091951D-C73E-4B77-9A61-716C666C5446},1039988,2890,0,70110,99804,60.0,...,341.606646,460.167390,1397.998132,14437.629737,14445.844421,16299.638335,151.952815,174.349496,240.654167,"MULTIPOLYGON (((994153.480 215659.003, 994165...."
3,28.57,1010610006,1910,{2BE9F674-67E7-4A49-8535-F636A16D8DA5},1026714,0,0,0,103068,32.0,...,220.548232,326.712107,1620.037146,10455.417903,10087.378012,11238.595524,163.402973,182.997568,237.267362,"MULTIPOLYGON (((986858.328 218070.430, 986839...."
4,73.13,1003060013,1900,{2403088E-77A6-4071-8B5E-D54AFBC720D9},1003956,0,3800,0,92425,34.0,...,211.020783,295.261416,291.564318,7632.299988,7433.877764,8351.143163,105.344303,137.101029,350.242494,"MULTIPOLYGON (((986180.396 200723.234, 986187...."

In [8]:
gdf_restaurants_with_bin = gdf_restaurants_manhattan.to_crs(2263).sjoin_nearest(gdf_buildings.loc[:,['bin','geometry']], how='left', distance_col='distance')

In [63]:
gdf_restaurants_with_bin.drop(['geometry','index_right'], axis=1).to_csv('../../data/processed/restaurant_review.csv', index=False)

In [14]:
gdf_restaurants_with_bin.loc[gdf_restaurants_with_bin.loc[:,'distance']<10].drop(['geometry','index_right'], axis=1).to_csv('../../data/processed/restaurant_review_240405.csv', index=False)

In [16]:
gdf_restaurants_with_bin.loc[gdf_restaurants_with_bin.loc[:,'distance']<10]

,name,place_id,price_level,rating,user_ratings_total,business_status,adr_address,formatted_address,lat,lng,geometry,index_right,bin,distance
0,Ellis Island Cafe,ChIJiyW9XVFRwokRwyVIuyuQH7g,NaN,2.7,176,OPERATIONAL,NaN,"Ellis Island, New York, NY 10004",40.698856,-74.039125,POINT (973401.158 193891.244),1774,1085964,0.000000
4,O'Hara's Restaurant and Pub,ChIJueUCrBBawokRiw9LMJFm0_o,2.0,4.6,4718,OPERATIONAL,NaN,"120 Cedar St, New York, NY 10006",40.709501,-74.012664,POINT (980738.912 197767.178),36888,1001038,0.000000
7,DIG,ChIJT2cXMBZawokRBLbx2AApRas,1.0,4.3,552,OPERATIONAL,NaN,"80 Pine St, New York, NY 10005",40.706091,-74.007293,POINT (982227.875 196524.645),9468,1000880,0.000000
9,Trinity Place,ChIJ4_AAQhdawokRzbYlVLyzKlk,2.0,4.4,1332,OPERATIONAL,NaN,"115 Broadway, New York, NY 10006",40.708882,-74.011433,POINT (981080.333 197541.684),37098,1001030,0.000000
11,Schilling Restaurant & Bar,ChIJZXs66hBawokRizEXnDJplPw,3.0,4.4,509,OPERATIONAL,NaN,"109 Washington St, New York, NY 10006",40.708585,-74.014017,POINT (980363.918 197433.398),16505,1001047,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18654,Pikine,ChIJgdN7yRb2wokRrX83wvtHizs,2.0,4.4,471,OPERATIONAL,NaN,"243 W 116th St, New York, NY 10026",40.804200,-73.954414,POINT (996870.168 232272.212),36636,1058370,0.000000
18656,Chipotle Mexican Grill,ChIJR_TsOMj3wokRJTT-TLQ8j2k,1.0,3.7,89,OPERATIONAL,NaN,"165-167 E 116th St, New York, NY 10029",40.798570,-73.940732,POINT (1000659.497 230223.507),3212,1052326,0.000000
18657,Harlemite Peruvian Cuisine,ChIJr2-1yNH3wokR9jiSn9DRkbQ,2.0,4.6,109,OPERATIONAL,NaN,"231 Lenox Ave, New York, NY 10027",40.805699,-73.947425,POINT (998804.867 232819.475),34734,1057688,0.000000
18658,Teriyaki Madness,ChIJT-lF5uH1wokROivgNgCoz6w,1.0,3.8,60,OPERATIONAL,NaN,"203 E 125th St, New York, NY 10035",40.803696,-73.935394,POINT (1002136.224 232092.096),33548,1054682,5.682541
18659,Polash,ChIJdT6sXgj2wokR8OZiKQUJN54,2.0,4.3,233,OPERATIONAL,NaN,"2321 1st Ave., New York, NY 10035",40.797878,-73.934306,POINT (1002438.916 229972.516),645,1054720,0.000000