In [2]:
import pandas as pd
import datetime

In [4]:
def read_data(
        ):
    """
    Read the raw data.
    Dataset: https://data.cityofnewyork.us/Health/DOHMH-New-York-City-Restaurant-Inspection-Results/43nn-pn8j/about_data
    Modeling metrics: https://docs.google.com/document/d/1sbAG-b8YAEt7J70355q6gJYxDd3DQ_u6drHZlss8Le8/edit?usp=sharing
    """
    #
    pdf01_restaurant = pd.read_csv(".\DOHMH_New_York_City_Restaurant_Inspection_Results.csv")
    columns_pdf01 = pdf01_restaurant.columns
    columns_pdf01 = [str(i).lower().replace(" ","_") for i in columns_pdf01]
    pdf01_restaurant.columns = columns_pdf01
    pdf01_restaurant["inspection_date"] = pd.to_datetime(pdf01_restaurant["inspection_date"])
    pdf01_restaurant["inspection_year"] = pdf01_restaurant["inspection_date"].apply(lambda x: x.year)
    pdf01_restaurant["inspection_date"] = pdf01_restaurant["inspection_date"].apply(lambda x: x.strftime("%Y-%m-%d"))
    #
    return (pdf01_restaurant)
#

In [5]:
(pdf01_restaurant) = read_data()

In [21]:
def get_bankrupt_restaurants(
        pdf01_restaurant:pd.DataFrame
        ) -> pd.DataFrame:
    """
    """
    #
    ### Apply the filters
    ### Get this inspection type because indicates if a restaurant is opening
    cond_array = []
    cond_array.append("(inspection_type == 'Pre-permit (Operational) / Initial Inspection')")
    cond_array.append("(boro == 'Manhattan')")
    cond_array.append("(latitude != 0.0)")
    cond_array.append("(longitude != 0.0)")
    filter_cond = " and ".join(cond_array)
    tpdf01_restaurants_opening = (pdf01_restaurant
        .copy()
        .dropna(subset=["latitude","longitude","inspection_date"])
        .query(filter_cond)
        .loc[:, ["camis","boro","zipcode","cuisine_description","inspection_date","inspection_year","inspection_type","latitude","longitude"]]
        .sort_values(by=["latitude","longitude","inspection_date"], ignore_index=True)
        .drop_duplicates())
    #
    ### Focus on 2018 and 2019 only because before Covid
    cond_array = []
    cond_array.append("(inspection_year == 2018)")
    cond_array.append("(inspection_year == 2019)")
    filter_cond = " or ".join(cond_array)
    tpdf02_restaurants_2018_2019 = (tpdf01_restaurants_opening
        .copy()
        .query(filter_cond))
    #
    ### Rank and take the first entry
    tpdf02_restaurants_2018_2019["rank_inspection_date"] = (tpdf02_restaurants_2018_2019
        .groupby(by=["latitude","longitude"])["inspection_date"]
        .rank())
    #
    ### Get restaurants that opened in 2018 and rank 1
    tpdf03_restaurants_2018_first = (tpdf02_restaurants_2018_2019
        .copy()
        .query("(inspection_year == 2018) and (rank_inspection_date == 1)"))
    #
    ### Get restaurants that's rank 2
    tpdf04_restaurants_second = (tpdf02_restaurants_2018_2019
        .copy()
        .query("(rank_inspection_date == 2)")
        .loc[:, ["latitude","longitude","inspection_date"]]
        .rename(columns = {"inspection_date":"next_inspection_date"}))
    #
    pdf02_bankrupt_restaurants = (tpdf03_restaurants_2018_first
        .merge(tpdf04_restaurants_second, how="left", on=["latitude","longitude"]))
    pdf02_bankrupt_restaurants["flag_bankrupt"] = (pdf02_bankrupt_restaurants["next_inspection_date"]
        .apply(lambda x: 0 if str(x).lower() == 'nan' else 1))
    #
    return pdf02_bankrupt_restaurants
#

In [22]:
pdf02_bankrupt_restaurants = get_bankrupt_restaurants(pdf01_restaurant)
#
pdf02_bankrupt_restaurants.head(1)

,camis,boro,zipcode,cuisine_description,inspection_date,inspection_year,inspection_type,latitude,longitude,rank_inspection_date,next_inspection_date,flag_bankrupt
0,50075485,Manhattan,10004.0,Continental,2018-03-27,2018,Pre-permit (Operational) / Initial Inspection,40.703228,-74.012421,1.0,NaN,0

In [28]:
tpdf01_all = (pdf02_bankrupt_restaurants
    .groupby(by=["cuisine_description"], as_index=False)
    .agg(camis_count=("camis","count")))
#
tpdf02_bankrupt = (pdf02_bankrupt_restaurants
    .query("(flag_bankrupt == 1)")
    .groupby(by=["cuisine_description"], as_index=False)
    .agg(camis_count_bankrupt=("camis","count")))
#
tpdf03_bankrupt_rate = (tpdf01_all
    .merge(tpdf02_bankrupt, how="left", on=["cuisine_description"])
    .fillna({"camis_count_bankrupt":0}))
tpdf03_bankrupt_rate["bankrupt_rate"] = tpdf03_bankrupt_rate["camis_count_bankrupt"]/tpdf03_bankrupt_rate["camis_count"]*100
tpdf03_bankrupt_rate.sort_values(by=["bankrupt_rate","camis_count","cuisine_description"], ascending=[False,False,True], inplace=True, ignore_index=True)
#
tpdf03_bankrupt_rate

,cuisine_description,camis_count,camis_count_bankrupt,bankrupt_rate
0,Other,6,3.0,50.000000
1,Barbecue,2,1.0,50.000000
2,Middle Eastern,2,1.0,50.000000
3,Tapas,2,1.0,50.000000
4,Korean,9,2.0,22.222222
5,Latin American,10,2.0,20.000000
6,"Juice, Smoothies, Fruit Salads",12,2.0,16.666667
7,Mediterranean,14,2.0,14.285714
8,Tex-Mex,8,1.0,12.500000
9,Frozen Desserts,9,1.0,11.111111
10,Seafood,10,1.0,10.000000
11,Mexican,11,1.0,9.090909
12,Coffee/Tea,84,7.0,8.333333
13,Japanese,28,2.0,7.142857
14,Bakery Products/Desserts,14,1.0,7.142857
15,Chicken,14,1.0,7.142857
16,Donuts,14,1.0,7.142857
17,American,122,8.0,6.557377
18,Italian,34,2.0,5.882353
19,French,21,1.0,4.761905
20,Pizza,45,2.0,4.444444
21,Asian/Asian Fusion,24,1.0,4.166667
22,Chinese,54,2.0,3.703704
23,Thai,20,0.0,0.000000
24,Indian,14,0.0,0.000000
25,Sandwiches,11,0.0,0.000000
26,Spanish,9,0.0,0.000000
27,Hawaiian,8,0.0,0.000000
28,Jewish/Kosher,7,0.0,0.000000
29,Caribbean,5,0.0,0.000000
30,Continental,5,0.0,0.000000
31,Greek,3,0.0,0.000000
32,Peruvian,3,0.0,0.000000
33,Soups/Salads/Sandwiches,3,0.0,0.000000
34,Vegetarian,3,0.0,0.000000
35,Bagels/Pretzels,2,0.0,0.000000
36,Bottled Beverages,2,0.0,0.000000
37,Chinese/Cuban,2,0.0,0.000000
38,Salads,2,0.0,0.000000
39,Sandwiches/Salads/Mixed Buffet,2,0.0,0.000000
40,Steakhouse,2,0.0,0.000000
41,Turkish,2,0.0,0.000000
42,Australian,1,0.0,0.000000
43,Brazilian,1,0.0,0.000000
44,Filipino,1,0.0,0.000000
45,Hamburgers,1,0.0,0.000000
46,Irish,1,0.0,0.000000
47,Soups,1,0.0,0.000000
48,Vegan,1,0.0,0.000000